.header {
    text-align: center;
    color: darkgreen;
}
.body {
    
}
.links {
    text-align: center;
}
.link {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
}
.image {
    max-width: 99%;
    max-height: 99%;
}